<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <system.serviceModel>
    <client>
      <endpoint name="Primarni"
      address="net.tcp://localhost:502/IStanjeServisa"
      binding="netTcpBinding"
      contract="Common.IStanjeServisa" />
      <endpoint name="Sekundarni"
      address="net.tcp://localhost:512/IStanjeServisa"
      binding="netTcpBinding"
      contract="Common.IStanjeServisa" />
    </client>
  </system.serviceModel>
</configuration>