<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.serviceModel>
   
    <client>
      <endpoint name="ServisLica_0"
      address="net.tcp://localhost:502/IPersonService"
      binding="netTcpBinding"
      contract="Common.IPersonService" />
      <endpoint name="ServisLica_1"
      address="net.tcp://localhost:512/IPersonService"
      binding="netTcpBinding"
      contract="Common.IPersonService" />
      <endpoint name ="ServisLica_2"
       address ="net.tcp://localhost:11001/IPersonService"
       binding ="netTcpBinding"
       contract="Common.IPersonService"/>
    </client>
    
  </system.serviceModel>
</configuration>