<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.serviceModel>
    <client>
      <endpoint name="Common.IPersonService"
                address="net.tcp://localhost:4001/IPersonService"
                binding="netTcpBinding"
                contract="Common.IPersonService" />

      <endpoint name="Common.ISystemUserService"
          address="net.tcp://localhost:4001/ISystemUserService"
          binding="netTcpBinding"
          contract="Common.ISystemUserService" />
    </client>
  </system.serviceModel>
</configuration>