<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.serviceModel>
    <client>
        <endpoint name="source"
                  address="net.tcp://localhost:4001/IPersonService"
                  binding="netTcpBinding"
                  contract="Common.IPersonService" />
      
        <endpoint name="destination"
                  address="net.tcp://localhost:4000/IPersonService"
                  binding="netTcpBinding"
                  contract="Common.IPersonService" />
    
    </client>
  </system.serviceModel>
</configuration>